<!-- menu -->
<div class="tw-flex tw-gap-[24px] md:tw-gap-[35px]">
  <a class="tw-flex tw-items-center tw-gap-[15px]" routerLink="/companies" routerLinkActive="active-link">
    <svg-icon class="tw-text-gray-500" src="assets/icons/building-01.svg"></svg-icon>
    <div class="tw-hidden tw-text-gray-700 md:tw-block">Companies</div>
  </a>
  <a class="tw-flex tw-items-center tw-gap-[15px]" routerLink="/peoples" routerLinkActive="active-link">
    <svg-icon class="tw-text-gray-500" src="assets/icons/user-square.svg"></svg-icon>
    <div class="tw-hidden tw-text-gray-700 md:tw-block">People</div>
  </a>
  <a class="tw-flex tw-items-center tw-gap-[15px]" routerLink="/markets" routerLinkActive="active-link">
    <svg-icon class="tw-text-gray-500" src="assets/icons/line-chart-up-05.svg"></svg-icon>
    <div class="tw-hidden tw-text-gray-700 md:tw-block">Markets</div>
  </a>
  <a class="tw-flex tw-items-center tw-gap-[15px]" routerLink="/trends" routerLinkActive="active-link">
    <svg-icon class="tw-text-gray-500" src="assets/icons/presentation-chart-02.svg"></svg-icon>
    <div class="tw-hidden tw-text-gray-700 md:tw-block">Trends</div>
  </a>
  <a class="tw-flex tw-items-center tw-gap-[15px]" routerLink="/topics" routerLinkActive="active-link">
    <svg-icon class="tw-text-gray-500" src="assets/icons/lightning-02.svg"></svg-icon>
    <div class="tw-hidden tw-text-gray-700 md:tw-block">Topics</div>
  </a>
</div>
