<div class="card-shadow tw-flex tw-w-[300px] tw-flex-col tw-rounded-lg tw-bg-white">
  <div class="-tw-mb-5 tw-mr-3 tw-mt-3 tw-w-fit tw-self-end tw-rounded-lg tw-bg-gray-300 tw-py-1 tw-px-2 tw-text-xs tw-font-extralight tw-text-success-600">
    Staff Pick
  </div>
  <div class="tw-mb-2 tw-w-28 tw-self-center tw-rounded-full tw-border tw-border-solid tw-border-[#F5F5F5] tw-p-1">
    <img class="tw-w-full tw-rounded-full" src="assets/images/jeff.png" />
  </div>
  <div class="tw-mb-3 tw-flex tw-items-center tw-self-center">
    <div class="tw-mr-1 tw-text-xl tw-font-bold tw-text-black">{{ name }}</div>
  </div>
  <div class="tw-mb-5 tw-flex tw-items-center tw-gap-2 tw-self-center">
    <div><span class="tw-mr-1 tw-font-bold">36,740</span>Followers</div>
    <img class="tw-h-5 tw-w-5" src="assets/images/linkedin.png" alt="" srcset="" />
  </div>
  <div class="tw-mb-5 tw-px-4">
    Speaker, Lover to mentor new comers to startup scene, founder of Google.com since 2007. a father of 2 and inventor of 3 hours Lunch break.
  </div>

  <div class="tw-border-y tw-border-x-0 tw-border-solid tw-border-gray-modern-100 tw-px-8 tw-pt-2 tw-pb-5">
    <div class="tw-font-semibold">Interest topics</div>
    <div class="tw-mt-4 tw-flex tw-flex-wrap tw-gap-2">
      <div class="tw-h-fit tw-whitespace-nowrap tw-rounded-md tw-bg-moss-100 tw-px-2 tw-text-[10px] tw-font-medium">Chat</div>
      <div class="tw-h-fit tw-whitespace-nowrap tw-rounded-md tw-bg-pink-200 tw-px-2 tw-text-[10px] tw-font-medium">Team Chat</div>
      <div class="tw-h-fit tw-whitespace-nowrap tw-rounded-md tw-bg-gray-blue-200 tw-px-2 tw-text-[10px] tw-font-medium">Collaboration Tool</div>
      <div class="tw-h-fit tw-whitespace-nowrap tw-rounded-md tw-bg-green-100 tw-px-2 tw-text-[10px] tw-font-medium">Group chat</div>
    </div>
  </div>
  <div class="tw-flex tw-justify-between tw-p-5">
    <button type="button" class="btn btn-outline-light tw-bg-gray-iron-100 tw-p-2">
      <svg-icon src="assets/icons/heart.svg"></svg-icon>
    </button>
    <button type="button" class="btn btn-dark tw-font-light">View Profile</button>
  </div>
</div>
