<div class="card-shadow tw-flex tw-w-[300px] tw-flex-col tw-rounded-lg tw-bg-white">
  <div class="tw-relative">
    <img class="tw-w-full tw-rounded-t-lg" src="assets/images/co-working-space.png" alt="" />
    <div class="tw-absolute tw-inset-x-0 tw-bottom-0 tw-flex tw-items-end tw-justify-between tw-p-2">
      <div class="tw-rounded-full tw-bg-white tw-px-2">
        <svg-icon class="tw-mr-1 tw-text-primary-500" [svgStyle]="{ 'width.px': 12 }" src="assets/icons/award-02.svg"></svg-icon>
        <span class="tw-text-xs tw-font-medium tw-text-primary-700">Rare find</span>
      </div>
      <button type="button" class="btn btn-outline-primary tw-border-white tw-bg-white tw-bg-opacity-60 tw-p-2 !tw-text-white">
        <svg-icon src="assets/icons/heart.svg"></svg-icon>
      </button>
    </div>
  </div>
  <div class="tw-px-4 tw-pb-4">
    <div class="tw-mt-5">
      <span class="tw-mr-2 tw-text-xl tw-font-semibold tw-text-gray-900">570</span>
      <span class="tw-text-base tw-text-gray-600">BHD</span>
    </div>

    <div class="tw-mt-4 tw-font-semibold tw-text-primary-600">Entire apartment rental in Collingwood</div>
    <div class="tw-mt-1 tw-text-lg tw-font-medium tw-text-gray-900">A Stylish Apt, 5 min walk to Queen Victoria Market</div>

    <div class="tw-mt-2 tw-flex tw-items-center tw-gap-2">
      <ng-rating-bar [value]="3.5" [ratingCount]="5" colorActive="#FDB022" [styles]="{ fontSize: '24px' }"></ng-rating-bar>
      <span class="tw-text-base tw-font-medium tw-text-gray-900">4.9</span>
      <span class="tw-text-base tw-text-gray-600">202 reviews</span>
    </div>
    <div class="tw-mt-2 tw-flex tw-items-center">
      <svg-icon class="tw-mr-1 tw-text-gray-400" [svgStyle]="{ 'width.px': 16 }" src="assets/icons/marker-pin-02.svg"></svg-icon>
      <span class="tw-text-base tw-text-gray-600" clas>Manama , Bahrain</span>
    </div>
  </div>
</div>
