<div class="d-flex align-items-center tw-mt-10 tw-bg-primary-800" style="height: 468px">
  <div class="container" style="text-align: center">
    <p class="fs16 mb-0 c-mt-96 tw-font-semibold tw-text-primary-200">Current as of 20 Jan 2022</p>
    <p class="text-white text-center mb-0 tw-mt-3 tw-text-4xl tw-font-semibold md:tw-text-6xl">Cookie Policy</p>
    <p class="text-center mb-0 tw-mt-3 tw-text-primary-200 md:tw-mt-3 lg:tw-mt-5">
      We use some cookies to help improve your experience on this website. Here's some more info.
    </p>
    <p class="text-center tw-text-primary-200">Let's find a better place for you to go.</p>
    <div class="tw-mx-auto tw-mt-6 tw-flex tw-w-fit tw-justify-center tw-gap-2 tw-rounded-xl tw-border-solid tw-border-white tw-p-1 sm:tw-flex-row lg:tw-mt-8">
      <button (click)="check()" class="btn {{ legal == true ? 'legalversion' : 'legalversion2' }}">Legal version</button>
      <button (click)="check2()" class="btn {{ simple == true ? 'simpleversion' : 'simpleversion2' }}">Simple version</button>
    </div>
  </div>
</div>

<div class="container tw-mt-24">
  <div class="row">
    <div class="col-lg-6 col-md-12 offset-lg-3">
      <p class="tw-gray-600 tw-text-lg tw-font-normal">
        Mi tincidunt elit, id quisque ligula ac diam, amet. Vel etiam suspendisse morbi eleifend faucibus eget vestibulum felis. Dictum quis montes, sit sit.
        Tellus aliquam enim urna, etiam. Mauris posuere vulputate arcu amet, vitae nisi, tellus tincidunt. At feugiat sapien varius id.
      </p>
      <p class="tw-gray-600 tw-text-lg tw-font-normal">
        Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat mollis at volutpat lectus velit, sed auctor. Porttitor fames arcu quis fusce augue
        enim. Quis at habitant diam at. Suscipit tristique risus, at donec. In turpis vel et quam imperdiet. Ipsum molestie aliquet sodales id est ac volutpat.
      </p>
      <h3 class="tw-gray-900 tw-mt-2 tw-mb-2 tw-text-3xl tw-font-semibold">What information do we collect?</h3>
      <p class="tw-gray-600 tw-text-lg tw-font-normal">
        Dolor enim eu tortor urna sed duis nulla. Aliquam vestibulum, nulla odio nisl vitae. In aliquet pellentesque aenean hac vestibulum turpis mi bibendum
        diam. Tempor integer aliquam in vitae malesuada fringilla. Elit nisi in eleifend sed nisi. Pulvinar at orci, proin imperdiet commodo consectetur
        convallis risus. Sed
      </p>
      <p class="tw-gray-600 tw-text-lg tw-font-normal">
        condimentum enim dignissim adipiscing faucibus consequat, urna. Viverra purus et erat auctor aliquam. Risus, volutpat vulputate posuere purus sit congue
        convallis aliquet. Arcu id augue ut feugiat donec porttitor neque. Mauris, neque ultricies eu vestibulum, bibendum quam lorem id. Dolor lacus, eget nunc
        lectus in tellus, pharetra, porttitor.
      </p>
      <p class="tw-gray-600 tw-text-lg tw-font-normal">
        Ipsum sit mattis nulla quam nulla. Gravida id gravida ac enim mauris id. Non pellentesque congue eget consectetur turpis. Sapien, dictum molestie sem
        tempor. Diam elit, orci, tincidunt aenean tempus. Quis velit eget ut tortor tellus. Sed vel, congue felis elit erat nam nibh orci.
      </p>
      <h3 class="tw-gray-900 tw-mt-2 tw-mb-2 tw-text-3xl tw-font-semibold">How do we use your information?</h3>
      <p class="tw-gray-600 tw-text-lg tw-font-normal">
        Ipsum sit mattis nulla quam nulla. Gravida id gravida ac enim mauris id. Non pellentesque congue eget consectetur turpis. Sapien, dictum molestie sem
        tempor. Diam elit, orci, tincidunt aenean tempus. Quis velit eget ut tortor tellus. Sed vel, congue felis elit erat nam nibh orci.
      </p>
      <p class="tw-gray-600 tw-text-lg tw-font-normal">
        Ipsum sit mattis nulla quam nulla. Gravida id gravida ac enim mauris id. Non pellentesque congue eget consectetur turpis. Sapien, dictum molestie sem
        tempor. Diam elit, orci, tincidunt aenean tempus. Quis velit eget ut tortor tellus. Sed vel, congue felis elit erat nam nibh orci.
      </p>
      <p class="tw-gray-600 tw-text-lg tw-font-normal">
        Ipsum sit mattis nulla quam nulla. Gravida id gravida ac enim mauris id. Non pellentesque congue eget consectetur turpis. Sapien, dictum molestie sem
        tempor. Diam elit, orci, tincidunt aenean tempus. Quis velit eget ut tortor tellus. Sed vel, congue felis elit erat nam nibh orci.
      </p>
      <h3 class="tw-gray-900 tw-mt-2 tw-mb-2 tw-text-2xl tw-font-semibold">Do we use cookies and other tracking technologies?</h3>
      <p class="tw-gray-600 tw-text-lg tw-font-normal">
        Pharetra morbi libero id aliquam elit massa integer tellus. Quis felis aliquam ullamcorper porttitor. Pulvinar ullamcorper sit dictumst ut eget a,
        elementum eu. Maecenas est morbi mattis id in ac pellentesque ac.
      </p>
      <h3 class="tw-gray-900 tw-mt-2 tw-mb-2 tw-text-2xl tw-font-semibold">How long do we keep your information?</h3>
      <p class="tw-gray-600 tw-text-lg tw-font-normal">
        Pharetra morbi libero id aliquam elit massa integer tellus. Quis felis aliquam ullamcorper porttitor. Pulvinar ullamcorper sit dictumst ut eget a,
        elementum eu. Maecenas est morbi mattis id in ac pellentesque ac.
      </p>
      <h3 class="tw-gray-900 tw-mt-2 tw-mb-2 tw-text-2xl tw-font-semibold">How do we keep your information safe?</h3>
      <p class="tw-gray-600 tw-text-lg tw-font-normal">
        Pharetra morbi libero id aliquam elit massa integer tellus. Quis felis aliquam ullamcorper porttitor. Pulvinar ullamcorper sit dictumst ut eget a,
        elementum eu. Maecenas est morbi mattis id in ac pellentesque ac.
      </p>
      <h3 class="tw-gray-900 tw-mt-2 tw-mb-2 tw-text-3xl tw-font-semibold">What are your privacy rights?</h3>
      <p class="tw-gray-600 tw-text-lg tw-font-normal">
        Pharetra morbi libero id aliquam elit massa integer tellus. Quis felis aliquam ullamcorper porttitor. Pulvinar ullamcorper sit dictumst ut eget a,
        elementum eu. Maecenas est morbi mattis id in ac pellentesque ac.
      </p>
      <h3 class="tw-gray-900 tw-mt-2 tw-mb-2 tw-text-2xl tw-font-semibold">How can you contact us about this policy?</h3>
      <p class="tw-gray-600 tw-text-lg tw-font-normal">
        Pharetra morbi libero id aliquam elit massa integer tellus. Quis felis aliquam ullamcorper porttitor. Pulvinar ullamcorper sit dictumst ut eget a,
        elementum eu. Maecenas est morbi mattis id in ac pellentesque ac.Sagittis et eu at elementum, quis in. Proin praesent volutpat egestas sociis sit lorem
        nunc nunc sit. Eget diam curabitur mi ac. Auctor rutrum lacus malesuada massa ornare et. Vulputate consectetur ac ultrices at diam dui eget fringilla
        tincidunt. Arcu sit dignissim massa erat cursus vulputate gravida id. Sed quis auctor vulputate hac elementum gravida cursus dis.
      </p>
      <ol class="tw-gray-600 tw-text-lg tw-font-normal">
        <li>Lectus id duis vitae porttitor enim gravida morbi.</li>
        <li>Eu turpis posuere semper feugiat volutpat elit, ultrices suspendisse. Auctor vel in vitae placerat.</li>
        <li>Suspendisse maecenas ac donec scelerisque diam sed est duis purus.</li>
      </ol>
    </div>
  </div>
</div>
<hr class="tw-mt-24 tw-mb-24" />

<div class="container">
  <div class="row tw-rounded-lg tw-bg-primary-800 tw-p-6">
    <div class="col-lg-8 col-md-6 col-sm-12 p-0">
      <div class="d-flex flex-column align-items-start justify-content-center">
        <p class="mb-0 tw-text- text-white tw-text-3xl tw-font-semibold">Start discovering Startups and Founders</p>
        <p class="mb-0 tw-text- tw-mt-4 tw-text-xl tw-font-normal tw-text-primary-200">Join over 15,000+ startups already growing with Untitled.</p>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 col-sm-12 p-0 d-flex align-items-center md-justify-end tw-mt-4 tw-flex-col tw-justify-center md:tw-flex-row lg:tw-flex-row lg:tw-justify-end"
    >
      <!-- <div class=""> -->
      <button class="btn btn-light mx-2 tw-mt-8 tw-w-full md:tw-mt-0 md:tw-w-auto lg:tw-mt-0 lg:tw-w-auto">Learn more</button>
      <button class="btn btn-dark tw-mt-3 tw-w-full tw-bg-primary-600 md:tw-mt-0 md:tw-w-auto lg:tw-mt-0 lg:tw-w-auto">Get started, it's FREE</button>

      <!-- </div> -->
    </div>
  </div>
</div>
<hr class="tw-mt-24" />
<div class="container tw-text-center">
  <img src="assets/temp/logomark1.png" class="tw-mt-16 tw-mb-16" width="32px" alt="" srcset="" />
  <p class="tw-text-3xl tw-font-semibold tw-text-gray-900">Let's get started on something great</p>
  <p class="tw-text-xl tw-font-normal tw-text-gray-600">Join over 4,000+ startups already growing with Untitled.</p>
  <div class="row tw-justify-center">
    <div
      class="col-lg-4 col-md-6 col-sm-12 p-0 d-flex align-items-center md-justify-end tw-mt-4 tw-flex-col tw-justify-center md:tw-flex-row lg:tw-flex-row lg:tw-justify-end"
    >
      <!-- <div class=""> -->
      <button class="btn btn-outline-light d-flex align-items-center mx-2 tw-mt-8 tw-w-full tw-justify-center md:tw-mt-0 md:tw-w-auto lg:tw-mt-0 lg:tw-w-auto">
        <img src="assets/temp/play2.png" style="margin-right: 4px !important" height="20px" alt="" srcset="" />
        Discover
      </button>
      <button class="btn btn-dark tw-mt-3 tw-w-full tw-bg-primary-600 md:tw-mt-0 md:tw-w-auto lg:tw-mt-0 lg:tw-w-auto">Get started, it's FREE</button>

      <!-- </div> -->
    </div>
  </div>
</div>
