.legalversion2 {
  background-color: transparent !important;
  color: white !important;
}

.legalversion {
  background-color: white !important;
  color: black !important;
}

.simpleversion {
  background-color: white !important;
  color: black !important;
}

.simpleversion2 {
  background-color: transparent !important;
  color: white !important;
}
