<div class="container" style="text-align: center">
  <p class="fs16 mb-0 c-mt-96 tw-font-semibold tw-text-primary-700">404 error</p>
  <p class="grey900 text-center mb-0 tw-text-4xl tw-font-semibold md:tw-text-6xl">We lost this page</p>
  <p class="text-center mb-0 tw-mt-3 tw-text-gray-600 md:tw-mt-3 lg:tw-mt-3">We searched high and low, but couldn’t find what you’re looking for.</p>
  <p class="text-center tw-text-gray-600">Let’s find a better place for you to go.</p>
  <div class="tw-mt-6 tw-flex tw-flex-col tw-justify-center tw-gap-2 sm:tw-flex-row lg:tw-mt-8">
    <button class="btn btn-outline-light"><img src="assets/temp/arrowleft1.png" height="20px" />Go back</button>
    <button class="btn btn-dark tw-bg-primary-600">Take me home</button>
  </div>
</div>
<div class="container tw-mt-16 lg:tw-mt-24" style="text-align: center">
  <div class="tw-flex tw-flex-wrap tw-justify-between tw-gap-4 md:tw-flex-nowrap md:tw-gap-8 lg:tw-gap-8">
    <div class="d-flex flex-column justify-content-between align-items-start tw-w-full tw-bg-gray-50 tw-p-6">
      <img src="assets/temp/codesquare1.png" height="20px" alt="" srcset="" />

      <div style="text-align: Start">
        <p class="mb-0 tw-mt-12 tw-text-xl tw-font-semibold tw-text-gray-900">Documentation</p>
        <p class="mb-0 tw-mt-2 tw-text-base tw-text-gray-600">Dive in to learn all about our product.</p>
        <p class="tw-primary-700 mb-0 tw-mt-2 tw-text-base tw-font-semibold">
          Start learning <span><img src="assets/temp/arrowright1.png" height="20px" alt="" srcset="" /></span>
        </p>
      </div>
    </div>

    <div class="d-flex flex-column justify-content-between align-items-start tw-w-full tw-bg-gray-50 tw-p-6">
      <img src="assets/temp/bookopen.png" height="20px" alt="" srcset="" />

      <div style="text-align: Start">
        <p class="mb-0 tw-mt-12 tw-text-xl tw-font-semibold tw-text-gray-900">Our blog</p>
        <p class="mb-0 tw-mt-2 tw-text-base tw-text-gray-600">Read the latest posts on our blog.</p>
        <p class="tw-primary-700 mb-0 tw-mt-2 tw-text-base tw-font-semibold">
          View lastest posts <span><img src="assets/temp/arrowright1.png" height="20px" alt="" srcset="" /></span>
        </p>
      </div>
    </div>

    <div class="d-flex flex-column justify-content-between align-items-start tw-w-full tw-bg-gray-50 tw-p-6">
      <img src="assets/temp/messagechat1.png" height="20px" alt="" srcset="" />

      <div style="text-align: Start">
        <p class="mb-0 tw-mt-12 tw-text-xl tw-font-semibold tw-text-gray-900">Chat to us</p>
        <p class="mb-0 tw-mt-2 tw-text-base tw-text-gray-600">Can’t find what you’re looking for?</p>
        <p class="tw-primary-700 mb-0 tw-mt-2 tw-text-base tw-font-semibold">
          Chat to our team <span><img src="assets/temp/arrowright1.png" height="20px" alt="" srcset="" /></span>
        </p>
      </div>
    </div>
  </div>
</div>
