<div class="row tw-mb-24">
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="d-flex align-items-center tw-justify-between">
      <h6 class="tw-text-lg tw-font-semibold tw-text-gray-900">Notifications</h6>
      <img src="assets/temp/threedots.png" height="20px" alt="" srcset="" />
    </div>
    <p class="tw-font-noraml m-0 tw-text-sm tw-text-gray-600">Choose when and how we contact you.</p>
    <div class="d-flex tw-mt-6" style="height: 28px">
      <div class="tabs tw-text-sm tw-font-semibold tw-text-gray-500">Email</div>
      <div class="mx-3 tabs tw-text-sm tw-font-semibold tw-text-gray-500">In-app</div>
      <div class="tabs tw-text-sm tw-font-semibold tw-text-gray-500">Push</div>
    </div>
    <hr class="tw-mt-0 tw-mb-6 tw-text-gray-400" />
    <!-- notifcation part -->
    <h6 class="tw-text-sm tw-font-medium tw-text-gray-700">Notifications from us</h6>
    <p class="m-0 tw-text-sm tw-font-normal tw-text-gray-600">Choose when and how we contact you.</p>
    <div class="row tw-mt-6">
      <div class="col-1 tw-pr-0">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
        </div>
      </div>
      <div class="col-11 p-0">
        <p class="tw-ml-2 tw-mb-0 tw-text-sm tw-font-medium tw-text-gray-700">News and updates</p>
        <p class="mt-1 tw-ml-2 tw-mb-0 tw-text-sm tw-font-normal tw-text-gray-600">INews about product and feature updates.</p>
      </div>
    </div>
    <div class="row tw-mt-6">
      <div class="col-1 tw-pr-0">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
        </div>
      </div>
      <div class="col-11 p-0">
        <p class="tw-ml-2 tw-mb-0 tw-text-sm tw-font-medium tw-text-gray-700">Tips and tutorials</p>
        <p class="mt-1 tw-ml-2 tw-mb-0 tw-text-sm tw-font-normal tw-text-gray-600">Tips on getting more out of Untitled.</p>
      </div>
    </div>
    <div class="row tw-mt-6">
      <div class="col-1 tw-pr-0">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
        </div>
      </div>
      <div class="col-11 p-0">
        <p class="tw-ml-2 tw-mb-0 tw-text-sm tw-font-medium tw-text-gray-700">User research</p>
        <p class="mt-1 tw-ml-2 tw-mb-0 tw-text-sm tw-font-normal tw-text-gray-600">
          Get involved in our beta testing program or participate in paid product user research.
        </p>
      </div>
    </div>

    <hr class="tw-mt-6 tw-mb-6 tw-text-gray-400" />
    <!-- comment part -->
    <h6 class="tw-text-sm tw-font-medium tw-text-gray-700">Comments</h6>
    <p class="m-0 tw-text-sm tw-font-normal tw-text-gray-600">These are notifications for comments on your posts and replies to your comments.</p>
    <div class="row tw-mt-6">
      <div class="col-1 tw-pr-0">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked />
          <label class="form-check-label" for="exampleRadios1"> </label>
        </div>
      </div>
      <div class="col-11 p-0">
        <p class="tw-ml-2 tw-mb-0 tw-text-sm tw-font-medium tw-text-gray-700">Do not notifiy me</p>
      </div>
    </div>
    <div class="row tw-mt-6">
      <div class="col-1 tw-pr-0">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked />
          <label class="form-check-label" for="exampleRadios1"> </label>
        </div>
      </div>
      <div class="col-11 p-0">
        <p class="tw-ml-2 tw-mb-0 tw-text-sm tw-font-medium tw-text-gray-700">Mentions only</p>
        <p class="mt-1 tw-ml-2 tw-mb-0 tw-text-sm tw-font-normal tw-text-gray-600">Only notify me if I’m mentioned in a comment.</p>
      </div>
    </div>
    <div class="row tw-mt-6">
      <div class="col-1 tw-pr-0">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked />
          <label class="form-check-label" for="exampleRadios1"> </label>
        </div>
      </div>
      <div class="col-11 p-0">
        <p class="tw-ml-2 tw-mb-0 tw-text-sm tw-font-medium tw-text-gray-700">All comments</p>
        <p class="mt-1 tw-ml-2 tw-mb-0 tw-text-sm tw-font-normal tw-text-gray-600">Notify me for all comments on my posts.</p>
      </div>
    </div>
    <hr class="tw-mt-6 tw-mb-6 tw-text-gray-400" />

    <!-- reminders part -->
    <h6 class="tw-text-sm tw-font-medium tw-text-gray-700">Reminders</h6>
    <p class="m-0 tw-text-sm tw-font-normal tw-text-gray-600">These are notifications to remind you of updates you might have missed.</p>
    <div class="row tw-mt-6">
      <div class="col-1 tw-pr-0">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="reminderRadio" id="radio2" value="option2" checked />
          <label class="form-check-label" for="radio2"> </label>
        </div>
      </div>
      <div class="col-11 p-0">
        <p class="tw-ml-2 tw-mb-0 tw-text-sm tw-font-medium tw-text-gray-700">Do not notifiy me</p>
      </div>
    </div>
    <div class="row tw-mt-6">
      <div class="col-1 tw-pr-0">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="reminderRadio" id="radio2" value="option2" checked />
          <label class="form-check-label" for="radio2"> </label>
        </div>
      </div>
      <div class="col-11 p-0">
        <p class="tw-ml-2 tw-mb-0 tw-text-sm tw-font-medium tw-text-gray-700">Important reminders only</p>
        <p class="mt-1 tw-ml-2 tw-mb-0 tw-text-sm tw-font-normal tw-text-gray-600">Only notify me if the reminder is tagged as important.</p>
      </div>
    </div>
    <div class="row tw-mt-6">
      <div class="col-1 tw-pr-0">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="reminderRadio" id="radio2" value="option2" checked />
          <label class="form-check-label" for="radio2"> </label>
        </div>
      </div>
      <div class="col-11 p-0">
        <p class="tw-ml-2 tw-mb-0 tw-text-sm tw-font-medium tw-text-gray-700">All reminders</p>
        <p class="mt-1 tw-ml-2 tw-mb-0 tw-text-sm tw-font-normal tw-text-gray-600">Notify me for all reminders.</p>
      </div>
    </div>
    <hr class="tw-mt-6 tw-mb-6 tw-text-gray-400" />
    <!-- more activity part -->

    <h6 class="tw-text-sm tw-font-medium tw-text-gray-700">More activity about you</h6>
    <p class="m-0 tw-text-sm tw-font-normal tw-text-gray-600">These are notifications for posts on your profile, likes and other reactions to your posts.</p>
    <div class="row tw-mt-6">
      <div class="col-1 tw-pr-0">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="moreActivityRadio" id="radio2" value="option2" checked />
          <label class="form-check-label" for="radio2"> </label>
        </div>
      </div>
      <div class="col-11 p-0">
        <p class="tw-ml-2 tw-mb-0 tw-text-sm tw-font-medium tw-text-gray-700">Do not notifiy me</p>
      </div>
    </div>
    <div class="row tw-mt-6">
      <div class="col-1 tw-pr-0">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="moreActivityRadio" id="radio2" value="option2" checked />
          <label class="form-check-label" for="radio2"> </label>
        </div>
      </div>
      <div class="col-11 p-0">
        <p class="tw-ml-2 tw-mb-0 tw-text-sm tw-font-medium tw-text-gray-700">All reminders</p>
        <p class="mt-1 tw-ml-2 tw-mb-0 tw-text-sm tw-font-normal tw-text-gray-600">Notify me for all other activity.</p>
      </div>
    </div>
  </div>
</div>
