<div class="row">
  <div class="col-lg-7 col-md-5 col-sm-12">
    <h4 class="tw-text-lg tw-font-semibold tw-text-gray-900">Password</h4>
    <p class="tw-font-noraml m-0 tw-text-sm tw-text-gray-600">Please enter your current password to change your password.</p>

    <hr class="tw-mt-5 tw-text-gray-400" />
    <label for="newpassword" class="tw-text-sm tw-font-medium tw-text-gray-700">New password</label>
    <input type="password" class="mt-1 form-control prefix email" id="autoSizingInputGroup" placeholder="Enter new password" />
    <label for="confirmpass" class="tw-mt-6 tw-text-sm tw-font-medium tw-text-gray-700">Confirm New password</label>
    <input type="password" class="mt-1 form-control prefix email tw-mb-2" id="autoSizingInputGroup" placeholder="Confirm new password" />
    <small class="tw-text-sm tw-font-normal tw-text-gray-400">Your new password must be more than 8 characters.</small>
    <br />
    <label for="confirmpass" class="tw-mt-6 tw-text-sm tw-font-medium tw-text-gray-700">Confirm New password</label>
    <input type="password" class="mt-1 form-control prefix email" id="autoSizingInputGroup" placeholder="Confirm new password" />
  </div>
  <div class="col-lg-5 col-md-7 col-sm-12">
    <div class="d-flex align-items-center mb-2 tw-justify-between">
      <h6 class="tw-mt-5 tw-text-lg tw-font-semibold tw-text-gray-900 md:tw-mt-5 lg:tw-mt-0">Where you’re logged in</h6>
      <img src="assets/temp/threedots.png" height="20px" alt="" srcset="" />
    </div>
    <p class="tw-font-noraml m-0 tw-text-sm tw-text-gray-600">We’ll alert you via olivia@untitledui.com if there is any unusual activity on your account.</p>

    <hr class="tw-mt-5 tw-text-gray-400" />
    <div class="row" *ngFor="let item of [0, 0, 0, 0, 0, 0, 0]">
      <div class="col-1">
        <img src="assets/temp/monitor1.png" width="20px" alt="" srcset="" />
      </div>
      <div class="col-11">
        <div class="d-flex align-items-center tw-justify-between md:tw-justify-between lg:tw-justify-start">
          <div class="tw-text-sm tw-font-normal tw-text-gray-700">2018 Macbook Pro 15-inch</div>
          <div class="d-flex align-items-center tw-ml-2 tw-rounded-2xl" style="border: 1px solid #027a48; padding: 2px 8px 2px 6px">
            <div style="height: 6px; width: 6px; background-color: #027a48; display: inline-block; border-radius: 100%"></div>
            <span class="tw-ml-1 tw-whitespace-nowrap tw-text-xs tw-font-medium" style="color: #027a48">Active now</span>
          </div>
        </div>
        <div class="tw-mt-1 tw-text-sm tw-font-normal tw-text-gray-600">Melbourne, Australia • 22 Jan at 10:40am</div>
      </div>
      <hr class="tw-mt-5 tw-text-gray-400" />
    </div>
  </div>
</div>
