<div class="tw-mt-14 tw-flex tw-items-center tw-justify-between">
  <div class="tw-text-lg tw-font-semibold tw-text-gray-900">{{ company.name }} fans</div>
  <button type="button" class="btn btn-light tw-border-transparent tw-bg-transparent tw-text-gray-400">
    <svg-icon src="assets/icons/dots-vertical.svg"></svg-icon>
  </button>
</div>

<div class="tw-mt-3 tw-border-0 tw-border-b tw-border-solid tw-border-gray-200">
  <div class="tw-flex tw-items-center tw-justify-between tw-border-0 tw-border-t tw-border-solid tw-border-gray-200 tw-py-4" *ngFor="let item of fans">
    <div class="tw-flex tw-gap-4">
      <img
        class="tw-w-12 tw-rounded-full"
        [src]="(item.attributes.user.data.attributes.image.data?.attributes.url | imageUrl) || 'assets/images/user-placeholder.png'"
        alt=""
      />
      <div>
        <div class="tw-font-medium tw-text-gray-900">{{ item.attributes.user.data.attributes.username }}</div>
        <div class="tw-text-gray-600">{{ item.attributes.user.data.attributes.email }}</div>
      </div>
    </div>
    <!-- <div class="tw-mr-4 tw-text-gray-600">24 likes</div> -->
  </div>
</div>

<app-load-more [paginator]="companyVotePaginator"></app-load-more>
