<!-- footer -->
<div class="tw-mt-52">
  <div class="tw-flex tw-flex-wrap tw-items-center tw-justify-between tw-gap-6">
    <div class="tw-flex tw-items-center tw-gap-8">
      <svg-icon src="assets/logo/logo-gray.svg"></svg-icon>
      <div class="tw-rounded-full tw-bg-[#FFE6C6] tw-px-4 tw-py-1 tw-text-xs tw-font-semibold tw-text-[#CB5E5E]">WE'RE HIRING</div>
    </div>

    <div class="tw-flex tw-gap-5">
      <div class="tw-rounded-lg tw-bg-gray-200 tw-p-4">
        <svg-icon src="assets/icons/linkedin_fill.svg"></svg-icon>
      </div>
      <div class="tw-rounded-lg tw-bg-gray-200 tw-p-4">
        <svg-icon src="assets/icons/twitter_fill.svg"></svg-icon>
      </div>
      <div class="tw-flex tw-items-center tw-rounded-lg tw-bg-gray-200 tw-p-4">
        <svg-icon src="assets/icons/youtube_fill.svg"></svg-icon>
      </div>
    </div>
  </div>

  <div class="tw-mt-[46px] tw-flex tw-max-w-7xl tw-flex-wrap tw-justify-between tw-gap-16 [&_a]:!tw-mt-2 [&_a]:!tw-text-gray-true-500">
    <div class="tw-flex tw-min-w-[220px] tw-flex-col">
      <div class="tw-text-base tw-font-semibold">Product Suites</div>
      <a>Companies Intelligence</a>
      <a>Industry Outlook</a>
      <a>Key contacts</a>
      <a>Pricing</a>

      <div class="tw-mt-11 tw-text-base tw-font-semibold">Services</div>
      <a>Pricing <span class="footer-tag">NEW</span></a>

      <div class="tw-mt-11 tw-text-base tw-font-semibold">Apps</div>
      <a>iOS Apps <span class="footer-tag">Soon</span></a>
      <a>Android Apps <span class="footer-tag">Soon</span></a>

      <div class="tw-mt-11 tw-text-base tw-font-semibold">Platform</div>
      <a>Integrations <span class="footer-tag">Soon</span></a>
      <a>RYFINERY API <span class="footer-tag">Soon</span></a>
    </div>

    <div class="tw-flex tw-min-w-[220px] tw-flex-col">
      <div class="tw-text-base tw-font-semibold">RYFINERY FOR</div>
      <a>Startups</a>
      <a>Venture Capital</a>
      <a>Hedge Funds</a>
      <a>Business Leaders</a>
      <a>Private Equity</a>
      <a>Private Market Valuations</a>

      <div class="tw-mt-11 tw-text-base tw-font-semibold">Ryfinery GCC outlook</div>
      <a>Saudi Arabia industry reports</a>
      <a>Bahrain Industry Reports</a>
      <a>UAE Industry Reports</a>
      <a>Qatar Industry Reports</a>
      <a>Oman Industry Reports</a>
      <a>Kuwait Industry Reports</a>
      <a>GCC industry Reports</a>
    </div>

    <div class="tw-flex tw-min-w-[220px] tw-flex-col">
      <div class="tw-text-base tw-font-semibold">Voices by RYFINERY</div>
      <a>Reports</a>
      <a>News and updates</a>
      <a>Webinars</a>

      <div class="tw-mt-11 tw-text-base tw-font-semibold">Explore</div>
      <a>Customer Stories</a>
      <a>Resources</a>
      <a>RYFINERY University</a>
      <a>Support</a>
    </div>

    <div class="tw-flex tw-min-w-[220px] tw-flex-col">
      <div class="tw-text-base tw-font-semibold">Company</div>
      <a>Why RYFINERY?</a>
      <a>Careers</a>
      <a>What Sets Us Apart</a>
      <a>Press Inquiries</a>
      <a>Partnerships</a>
      <a>Customer success</a>

      <div class="tw-mt-11 tw-text-base tw-font-semibold">Industry Members</div>
      <img class="tw-mt-9 tw-w-[87px]" src="assets/images/nmhc.png" alt="" />
    </div>
  </div>
</div>
