<div class="container d-none d-md-block">
  <div class="row my-5"></div>
</div>
<div class="container">
  <div class="row pt-5">
    <div class="col-12 col-md-4 offset-md-4">
      <div class="text-center">
        <img src="assets/images/verify-email.png" class="mb-5 mt-3" style="width: 60px" alt="" />
        <h2 class="font-semi-bold color-gray-900 mb-3">Check your email</h2>
        <p class="font-light">
          We sent login link to <br /><b>{{ email }}</b>
        </p>
      </div>
      <div class="mt-5">
        <button class="btn btn-default w-100 login-btn" routerLink="/login"><img src="assets/images/arrow-left.png" alt="" /> Back to log in</button>
      </div>
    </div>
  </div>
</div>
