.form-check-input:checked {
  background-color: #404040 !important;
  border-color: #404040 !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu.show {
  display: block;
  border-radius: 8px;
  width: 240px !important;
}

input.prefix {
  background-repeat: no-repeat;
  background-position: 16px center;
  padding-left: 48px;

  &.email {
    background-image: url('/assets/temp/mess.png');
    background-size: 18px;
  }

  &.mobile {
    background-image: url('/assets/temp/greyphone.png');
    background-size: 14px;
  }
}

.ng-value-container {
  height: 46px !important;
}
