<div class="tw-mt-8 tw-hidden tw-cursor-pointer tw-gap-2 tw-rounded-xl tw-bg-[#202124] tw-p-5 tw-text-white md:tw-flex" (click)="this.click.emit()">
  <div>
    <svg-icon class="tw-text-gray-neutral-100" src="assets/icons/info-circle.svg"></svg-icon>
  </div>
  <div>
    <div class="tw-pb-2 tw-text-lg">{{ heading }}</div>
    <div class="font-extralight tw-text-xs">
      {{ description }}
      <svg-icon src="assets/icons/cursor-click-01.svg"></svg-icon>
    </div>
  </div>
</div>

<!-- Can't find your startup ? -->
<!-- Send us it's name or website with one Click -->
