<img src="assets/images/confetti-left.png" class="tw-z-10 -tw-mr-[166px] tw-hidden tw-w-[362px] sm:tw-block" />

<div class="tw-flex tw-w-[451px] tw-flex-col tw-items-center tw-rounded-xl tw-border tw-border-gray-iron-300 tw-px-10 tw-pt-[34px] tw-pb-[28px]">
  <img class="tw-mb-20 tw-h-[20px]" src="assets/images/logo-gray.png" alt="" />

  <hr class="tw-m-0 tw-w-full tw-text-gray-neutral-400" />

  <div class="tw-mt-6 tw-text-2xl tw-font-semibold">Thank you joining Ryfinery</div>
  <div class="tw-mt-3 tw-max-w-xs tw-text-center tw-font-semibold">We will contact you soon About Ryfinery launch and how to gain access.</div>

  <button type="button" class="btn btn-dark tw-mt-20 tw-flex tw-items-center tw-gap-2 tw-border-0 tw-bg-[#579BEB] tw-px-5" (click)="share()">
    Share <svg-icon src="assets/icons/share-06.svg"></svg-icon>
  </button>

  <div class="tw-mt-[22px] tw-mb-[56px] tw-text-center">Meantime you can share Ryfinery website with someone you know</div>
  <div class="tw-mt-[64px] -tw-mb-[100px] tw-flex tw-gap-5">
    <img src="assets/images/twitter.png" alt="" />
    <img src="assets/images/linkedin.png" alt="" />
  </div>
</div>

<img src="assets/images/confetti-right.png" class="tw-z-10 -tw-ml-[166px] tw-hidden tw-w-[362px] sm:tw-block" />
