<div class="outer container p-2">
  <div class="row align-items-center justify-content-between">
    <div class="leftpart col-lg-2 col-md-5 col-auto p-0 m-0">
      <div class="col-4 mt-1">
        <a routerLink=""><img src="assets/temp/logo.png" height="32px" width="142px" alt="" srcset="" /></a>
      </div>
    </div>
    <div class="navbar row col-lg-6 col-md-12 p-0 m-0">
      <div class="d-flex justify-content-between align-items-center p-0 m-0">
        <a class="tab d-flex p-2 align-items-center" style="height: 40px" routerLink="home" routerLinkActive="active-link">
          <img src="assets/temp/home.png" height="24px" width="24px" alt="" srcset="" />
          <span class="greycolor m-0" style="padding-left: 8px">Home</span>
        </a>
        <a class="tab d-flex p-2 align-items-center" style="height: 40px" routerLink="startups" routerLinkActive="active-link">
          <img src="assets/temp/rocket.png" height="24px" width="24px" alt="" srcset="" />
          <span class="greycolor m-0" style="padding-left: 8px">Startups</span>
        </a>
        <a class="tab d-flex p-2 align-items-center" style="height: 40px" routerLink="founders" routerLinkActive="active-link">
          <img src="assets/temp/usercircle.png" height="24px" width="24px" alt="" />
          <span class="greycolor m-0" style="padding-left: 8px">Founders</span>
        </a>
        <a class="tab d-flex p-2 align-items-center" style="height: 40px; white-space: nowrap" routerLink="co-working-spaces" routerLinkActive="active-link">
          <img src="assets/temp/monitor.png" height="24px" width="24px" alt="" srcset="" />
          <span class="greycolor m-0" style="padding-left: 8px">Co-working spaces</span>
        </a>
        <div class="threedots" (click)="showbox()" style="height: 24px; cursor: pointer; margin-right: 10px">
          <img src="assets/temp/threedots.png" height="24px" alt="" srcset="" />
        </div>
      </div>
    </div>

    <div class="col-lg-4 rightpart col-md-7 col-auto p-0 m-0">
      <div class="d-flex align-items-center" style="justify-content: end">
        <button *ngIf="isLoggedIn" type="button" class="memberbtn1 btn btn-dark" routerLink="startup-save">
          <div class="justify-content-center align-items-start">
            <img src="assets/temp/userplus.png" width="20px" class="tw-mx-1" alt="" />
            <span class="textbtn">Become a founder</span>
          </div>
        </button>
        <div class="iconspart d-flex justify-content-between align-items-center">
          <!-- Ye login Sign up button hy -->
          <a href="javascript:void(0)" *ngIf="!isLoggedIn" routerLink="register"><span *ngIf="!isLoggedIn" class="fs16 fw400 grey700">Register</span></a>
          <a href="javascript:void(0)" *ngIf="!isLoggedIn" routerLink="login"><span class="fs16 fw400 grey700">Login</span></a>
          <img *ngIf="isLoggedIn" src="assets/temp/bell.png" height="20px" alt="" />
          <img *ngIf="isLoggedIn" src="assets/temp/settings.png" class="settingimg tw-cursor-pointer" routerLink="setting" height="20px" alt="" />
          <div *ngIf="isLoggedIn" ngbDropdown display="dynamic" class="d-inline-block" style="height: 40px; width: 40px; border-radius: 100%; cursor: pointer">
            <img
              class="tw-rounded-full"
              [src]="(user?.image?.url | imageUrl) || 'assets/images/user-placeholder.png'"
              id="dropdownBasic1"
              ngbDropdownToggle
              height="100%"
              width="100%"
              alt=""
              srcset=""
            />

            <div ngbDropdownMenu class="outerdropdown" aria-labelledby="dropdownBasic1">
              <ng-container *ngFor="let item of menu">
                <button *ngIf="item.label" ngbDropdownItem class="dropdownitems" [routerLink]="item.routerLink">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                      <svg-icon [src]="'assets/icons/' + item.icon + '.svg'" [svgStyle]="{ 'width.px': 18 }"></svg-icon>
                      <span class="mx-2 fs14 fw500">{{ item.label }}</span>
                    </div>
                    <div>
                      <svg-icon class="tw-text-gray-500" [src]="'assets/shortcuts/' + item.shortcut + '.svg'" [svgStyle]="{ 'height.px': 30 }"></svg-icon>
                    </div>
                  </div>
                </button>

                <hr *ngIf="item.line" class="p-0 c-mt-6 c-mb-6" />
              </ng-container>
            </div>
          </div>
          <div class="menubtn" style="width: 24px; height: 24px; float: right">
            <img src="assets/temp/menu.png" height="24px" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="p-0 m-0" />
<div
  *ngIf="show"
  class="outerusecase outerusecase2"
  style="
    position: absolute;
    background-color: white;
    right: 0%;
    left: 0%;
    z-index: 2;
    padding-bottom: 25px !important ;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  "
>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mt-3" style="padding-left: 0px">
        <span class="fs14 fw600 darkgreycolor">Use cases</span>
        <div class="d-flex" style="flex-direction: column; justify-content: space-between">
          <div class="d-flex usecase p-3 mt-2">
            <div class="col-2">
              <img src="assets/temp/convert.png" height="24px" alt="" />
            </div>
            <div class="col-10">
              <div class="fs16 fw600 darkcolor">Convert</div>
              <div class="greycolor fs14">Analyze conversion rates and improve your sales.</div>
            </div>
          </div>
          <div class="d-flex usecase p-3 mt-2">
            <div class="col-2">
              <img src="assets/temp/message.png" height="24px" alt="" />
            </div>
            <div class="col-10">
              <div class="fs16 fw600 darkcolor">Engage</div>
              <div class="greycolor fs14">Measure active usage and target areas of improvement.</div>
            </div>
          </div>
          <div class="d-flex usecase p-3 mt-2">
            <div class="col-2">
              <img src="assets/temp/currency.png" height="24px" alt="" />
            </div>
            <div class="col-10">
              <div class="fs16 fw600">Retain</div>
              <div class="greycolor fs14">Find retention drivers and make your customers smile.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-3">
        <span class="fs14 fw600 darkgreycolor">Resources</span>
        <div class="d-flex" style="flex-direction: column; justify-content: space-between">
          <div class="d-flex usecase p-3 mt-2">
            <div class="col-2">
              <img src="assets/temp/book.png" height="24px" alt="" />
            </div>
            <div class="col-10">
              <div class="fs16 fw600">Blog</div>
              <div class="greycolor fs14">The latest industry news, updates and info.</div>
            </div>
          </div>
          <div class="d-flex usecase p-3 mt-2">
            <div class="col-2">
              <img src="assets/temp/star.png" height="24px" alt="" />
            </div>
            <div class="col-10">
              <div class="fs16 fw600">Customer stories</div>
              <div class="greycolor fs14">Learn how our customers are making big changes.</div>
            </div>
          </div>
          <div class="d-flex usecase p-3 mt-2">
            <div class="col-2">
              <img src="assets/temp/play.png" height="24px" alt="" />
            </div>
            <div class="col-10">
              <div class="fs16 fw600">Video tutorials</div>
              <div class="greycolor fs14">Get up and running on new features and techniques.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-3">
        <span class="fs14 fw600 darkgreycolor">Company</span>
        <div class="d-flex" style="flex-direction: column; justify-content: space-between">
          <div class="d-flex usecase p-3 mt-2">
            <div class="col-2">
              <img src="assets/temp/flag.png" height="24px" alt="" />
            </div>
            <div class="col-10">
              <div class="fs16 fw600">About us</div>
              <div class="greycolor fs14">Learn about our story and our mission statement.</div>
            </div>
          </div>
          <div class="d-flex usecase p-3 mt-2">
            <div class="col-2">
              <img src="assets/temp/messagecircle.png" height="24px" alt="" />
            </div>
            <div class="col-10">
              <div class="fs16 fw600">Press</div>
              <div class="greycolor fs14">News and writings, press releases, and press resources.</div>
            </div>
          </div>
          <div class="d-flex usecase p-3 mt-2">
            <div class="col-2">
              <img src="assets/temp/user.png" height="24px" alt="" />
            </div>
            <div class="col-10">
              <div class="fs16 fw600">Careers</div>
              <div class="greycolor fs14">We're always looking for talented people. Join our team!</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6" style="padding-right: 0px">
        <div class="d-flex mt-3" style="flex-direction: column">
          <img src="assets/temp/image.jpg" height="136px" alt="" srcset="" />
          <span class="mt-3 fs16 fw600 darkcolor">We've just released an update!</span>
          <span class="fs14 mt-1 greycolor">Check out the all new dashboard view. Pages now load faster. </span>
          <div class="d-flex mt-2">
            <div class="fs14 fw600 greycolor">Dismiss</div>
            <div class="fs14 fw600 mx-3 blackcolor">Changelog</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
