<div class="tw-mx-auto tw-max-w-xl tw-pt-28">
  <div class="tw-text-base tw-font-semibold tw-text-primary-700">Coming up next</div>
  <div class="tw-mt-2 tw-text-6xl tw-font-semibold tw-text-gray-900">coming soon</div>
  <div class="tw-mt-6 tw-text-xl tw-text-gray-600">Sorry, the page you are looking for is not yet released, we can email you when it is ready.</div>

  <div class="tw-mt-16 tw-flex tw-items-center tw-gap-3">
    <input type="text" class="form-control tw-w-100" />
    <button class="btn btn-dark tw-whitespace-nowrap tw-bg-primary-700">Count me in.</button>
  </div>
</div>
