<div class="container tw-mt-32 tw-flex tw-flex-wrap tw-justify-between tw-gap-8 tw-pb-8">
  <div>
    <img class="tw-h-[18px]" src="assets/images/transparent-logo.png" alt="" />
    <div class="tw-mt-10 tw-text-base tw-text-gray-600 md:tw-max-w-xs">Design amazing digital experiences that create more happy in the world.</div>
  </div>

  <div class="tw-flex tw-gap-12">
    <div>
      <div class="tw-mb-4 tw-font-semibold tw-text-gray-900">PRODUCT</div>
      <div class="tw-flex tw-flex-col tw-gap-3 tw-text-base tw-font-semibold">
        <a class="tw-text-primary-700" routerLink="startups">Companies</a>
        <a class="tw-text-primary-700" routerLink="founders">Founders</a>
        <a class="tw-text-primary-700" routerLink="co-working-spaces"
          >Co-working
          <span class="tw-ml-1 tw-rounded-full tw-border tw-border-solid tw-border-warning-600 tw-px-1 tw-text-xs tw-font-medium tw-text-warning-700">New</span>
        </a>
        <a class="tw-text-primary-700">Events</a>
        <a class="tw-text-primary-700">Dubai Startups</a>
        <a class="tw-text-primary-700">Saudi startups</a>
      </div>
    </div>
    <div>
      <div class="tw-mb-4 tw-font-semibold tw-text-gray-900">RESOURCES</div>
      <div class="tw-flex tw-flex-col tw-gap-3 tw-text-base tw-font-semibold">
        <a class="tw-text-primary-700">Blog</a>
        <a class="tw-text-primary-700">Newsletter</a>
        <a class="tw-text-primary-700">Events</a>
        <a class="tw-text-primary-700">Help centre</a>
        <a class="tw-text-primary-700">Tutorials</a>
        <a class="tw-text-primary-700">Support</a>
      </div>
    </div>
  </div>

  <div>
    <div class="tw-mb-4 tw-font-semibold tw-text-gray-900">Stay up to date</div>
    <app-subscriber class="tw-mt-10"></app-subscriber>
  </div>
</div>
