<div
  class="tw-flex tw-max-w-[451px] tw-flex-col tw-items-center tw-rounded-lg tw-border tw-border-gray-iron-300 tw-px-10 tw-pt-[23px] tw-pb-[23px] tw-text-center"
>
  <div class="tw-flex tw-items-end">
    <img class="tw-w-[48px] tw-rounded-full tw-border-solid" src="assets/images/avatar-3.png" alt="" />
    <img class="tw-border-1 tw-z-10 -tw-mx-4 tw-w-[56px] tw-rounded-full tw-border-2 tw-border-solid tw-border-white" src="assets/images/avatar-1.png" alt="" />
    <img class="tw-w-[48px] tw-rounded-full tw-border-solid" src="assets/images/avatar-2.png" alt="" />
  </div>

  <div class="tw-mt-6 tw-text-[23px] tw-font-semibold">Join #1 Market research platform</div>
  <div class="tw-mb-2 tw-text-[13px]">Discover the future of your market, Trends and companies</div>

  <hr class="tw-m-0 tw-w-full tw-text-gray-neutral-400" />

  <div class="tw-mt-10">
    Gain access to valuable and comparable market, industry, and country information for the GCC countries, with our Market Watch tower. Unique deep insights
    into important figures, e.g., revenue metrics, key performance indicators, Social metrics and much more.
  </div>

  <div class="tw-mt-10 tw-flex tw-flex-wrap tw-justify-center tw-gap-x-4 tw-whitespace-nowrap tw-text-xs tw-font-medium">
    <div><svg-icon class="tw-mr-1 tw-text-warning-500" [svgStyle]="{ 'width.px': 16 }" src="assets/icons/star-07.svg"></svg-icon>250K Companies</div>
    <div><svg-icon class="tw-mr-1 tw-text-warning-500" [svgStyle]="{ 'width.px': 16 }" src="assets/icons/star-07.svg"></svg-icon>160 industries</div>
    <div><svg-icon class="tw-mr-1 tw-text-warning-500" [svgStyle]="{ 'width.px': 16 }" src="assets/icons/star-07.svg"></svg-icon>Data Insights</div>
    <div><svg-icon class="tw-mr-1 tw-text-warning-500" [svgStyle]="{ 'width.px': 16 }" src="assets/icons/star-07.svg"></svg-icon>Social media Insights</div>
    <div><svg-icon class="tw-mr-1 tw-text-warning-500" [svgStyle]="{ 'width.px': 16 }" src="assets/icons/star-07.svg"></svg-icon>Market forecasting</div>
  </div>

  <div class="tw-mt-10 tw-flex tw-items-center tw-gap-1">
    <button class="btn btn-light-outline !tw-border-0 tw-px-8 tw-font-normal">Get early access</button>
    <button class="btn btn-dark tw-border-0 tw-bg-primary-600 tw-px-8" routerLink="coming-soon-signup">Join Now</button>
    <!-- <div class="tw-flex tw-absolute tw-left-[61%] tw-ml-[6px]">
      <img class="tw-h-full tw-w-full" src="assets/images/round-arrow.png" />
      <img class="tw-mt-[48px] -tw-ml-[34px] tw-h-full tw-w-full" src="assets/images/click to join.png" />
    </div> -->
  </div>
  <div class="tw-mt-[-50px] tw-mr-[-500px] tw-hidden sm:tw-flex">
    <img src="assets/click-to-join.svg" alt="" />
    <!-- <img class="tw-h-full tw-w-full" src="assets/images/round-arrow.png" /> -->
    <!-- <img class="tw-mt-[48px] -tw-ml-[34px] tw-h-full tw-w-full" src="assets/images/click to join.png" /> -->
  </div>
  <div class="tw-mt-[64px] -tw-mb-[90px] tw-flex tw-gap-5">
    <img src="assets/images/twitter.png" alt="" />
    <img src="assets/images/linkedin.png" alt="" />
  </div>
</div>
