<div class="tw-flex tw-w-full tw-items-center tw-justify-center tw-gap-4">
  <span class="tw-font-medium tw-text-gray-500">Continue with</span>
  <div class="tw-cursor-pointer tw-rounded-full tw-border tw-p-[10px]">
    <img class="tw-w-6" src="assets/images/google.png" alt="" />
  </div>
  <div class="tw-cursor-pointer tw-rounded-full tw-border tw-p-[10px]">
    <img class="tw-w-6" src="assets/images/facebook.png" alt="" />
  </div>
  <div class="tw-cursor-pointer tw-rounded-full tw-border tw-p-[10px]">
    <img class="tw-w-6" src="assets/images/apple.png" alt="" />
  </div>
</div>
